{% extends 'budget/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'budget/css/about.css' %}">

<div class="container abt">
    <div class="row">
        <div class="container">
            <div class="col-md-6 col-sm-8">
                <label><h1>Who Are We?</h1></label>
                <p>We are a group of young technocrats who came up with the idea of solving budget and time issues which we usually face in daily lives. We are here to provide a budget controller according to your preferences.<br>Budget control is the biggest financial issue in the present world. One should look after their budget control to get a better lifestyle.</p>
            </div>
            <div class="col-md-6 col-sm-8">
                <label><h1>Why choose us?</h1></label>
                <p>We provide a predominant way to control and manage your budget estimations with ease of accessing for multiple users.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
