<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Mr. Budget</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'budget/css/home.css' %}" />
    <script src="{% static 'budget/js/home.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'budget/css/homepage.css' %}" />
    <link rel="stylesheet" href="{% static 'budget/css/login.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{% static 'budget/css/theme.css' %}" rel="stylesheet" />
  </head>
  <body>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
    <!-- Header (converted from header.php) -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
          <a class="navbar-brand"
            href="{% if request.session.user_id %}
              {% url 'dashboard' %}
            {% else %}
              {% url 'index' %}
            {% endif %}">
            Mr. Budget
          </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            {% if request.session.user_id %}
              <li>
                <a href="#"><span class="glyphicon glyphicon-info-sign"></span> About Us</a>
              </li>
              <li>
                <a href="{% url 'request_password_reset' %}"><span class="glyphicon glyphicon-cog"></span> Change Password</a>
              </li>
              <li>
                <a class="nav-link" href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
              </li>
            {% else %}
              <li>
                <a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a>
              </li>
              <li>
                <a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div style="margin-top: 70px">
      {% block content %}

      {% endblock %}
    </div>

    <!-- Footer (from footer.php) -->
    {% comment %} <footer>
      <div class="container">
        <center>Copyright © Mr. Budget. All Rights Reserved | Contact Us: +1 2676981836</center>
      </div>
    </footer> {% endcomment %}
  </body>
</html>
