/* budget/static/budget/css/dashboard.css */

h2, h4 {
  margin-bottom: 20px;
}

canvas {
  display: block;
  margin: 0 auto;
}

.btn-block {
  display: block;
  width: 100%;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.panel {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 20px;
  background-color: #f9f9f9;
}

.panel-body a.btn {
  font-size: 16px;
  padding: 10px 20px;
}
