.card {
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    padding: 15px;
}

.card-title {
    font-weight: bold;
    margin-bottom: 15px;
}

p {
    margin-bottom: 8px;
}

canvas {
    display: block;
    margin: auto;
    max-width: 100%;
}
