{% extends 'budget/base.html' %}
{% block content %}

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">

      <div class="card shadow">
        <div class="card-header bg-info text-white text-center">
          <h4>Edit Plan Details</h4>
        </div>

        <div class="card-body">
          <form method="POST">
            {% csrf_token %}

            <div class="form-group mb-3">
              <label for="title">Title</label>
              <input type="text" class="form-control" name="title" value="{{ plan.title }}" required>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="from_date">From</label>
                <input type="date" class="form-control" name="from_date" value="{{ plan.from_date }}" required>
              </div>

              <div class="col-md-6 mb-3">
                <label for="to_date">To</label>
                <input type="date" class="form-control" name="to_date" value="{{ plan.to_date }}" required>
              </div>
            </div>

            <div class="d-grid mt-4">
              <button type="submit" class="btn btn-info btn-lg rounded-pill">Update Plan</button>
            </div>

          </form>
        </div>

      </div>

    </div>
  </div>
</div>

{% endblock %}
