{% extends 'budget/base.html' %}
{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg">
        <div class="card-header bg-success text-white text-center">
          <h4>Verify OTP</h4>
        </div>
        <div class="card-body">
          <form method="POST" action="{% url 'verify_otp' %}">
            {% csrf_token %}
            <div class="mb-3">
              <label>Enter the OTP</label>
              <input type="text" class="form-control" name="otp" required placeholder="Enter 6-digit OTP">
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-success btn-lg rounded-pill">Verify</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
